/* TODO: Have your plugin's CSS files generated to here. */

.drybox_warn {
  color: orange;
  font-weight: bolder;
}

.drybox_error {
  color: red;
  font-weight: bolder;
}

#drybox-history {
  float: left;
  position: absolute;
  background-color: white;
  color: black;
  border: 2px black solid;
  padding: 1em;
  left: -10em;
  z-index: 20;
}

.drybox-histlist li{
  list-style-type: none;
}

.drybox-histlist b {
  padding: 1em;
}
